<% IF error %>
   <p><b><font color="red">ERROR:<% error %></font></b></p>
<% END %>
<p><h3>Edit Author</h3><hr/>
   <form method="POST" action="/edit/author/<% id %>">
         First Name:<input type="text" name="firstname" value="<% firstname %>"/>
         Last Name :<input type="text" name="lastname"  value="<% lastname %>" />
         <input type="submit"/>
   </form>
</p>